<div class="container">
  <%#= link_to 'Видалити', @order, method: :delete, data: { confirm: 'Ви впевненні що хочете знищити це замовлення?'}, :class => "btn btn-danger malvina-action-button" %>
  <%= render 'form' %>
</div>

