// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-glyph-icon {
  color: grey !important;
  border: none !important;
  background-color: transparent !important;
}

.my-glyph-icon:hover {
  border: 1px solid transparent;
  color: #FFFFFF !important;
  background-color: #337ab7 !important;
}

.malvina-action-button {
  color: #FFFFFF !important;
  font-weight: bold !important;
}

.malvina-action-button:hover {
  color: #FFFFFF;
  font-weight: bold;
}

.panel-order-show {
  width: 500px;
  margin: 20px;
}
.panel .dl-horizontal dt {
  white-space: normal;
}

.centering {
  float:none;
  margin:0 auto;
}
