<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Тип</th>
      </tr>
    </thead>

    <tbody>
    <% @part_types.order('id DESC').each do |pt| %>
      <tr data-url="<%=edit_part_type_path(pt)%>">
        <td><%= pt.id %></td>
        <td><%= pt.type_name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>